include LICENSE
include README.md
include DOCUMENTATION.txt
include requirements.txt
include requirements-dev.txt
include pyproject.toml
recursive-include src/semantic_cache *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
